@import 'tailwindcss';

@layer base {
  body {
    @apply text-pink-400 bg-gray-800;
  }
  .button {
    @apply px-3 py-1 bg-pink-500 text-white rounded-lg cursor-pointer max-w-fit;
  }
}
@theme {
  --animate-fadeIn: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
